<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Referrals</title>
</head>
<body>
<h1>There are the list of my Referrals</h1>
{% if users %}
<table>
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Referral Code</th>
        <th>Registered On</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users%}
    <tr>
        <td>{{ user.full_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.register_time }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h1>No User used your referral code until now.</h1>
{% endif %}
</body>
</html>